[Unit]
Description=Node JS server to host AR at Reiman
After=network.target
After=mysqld.service

[Service]
User=root
Restart=always
RestartSec=5
EnvironmentFile=path_to_the_env_file
ExecStart=path_to_node path_to_server/dist/index.js
WorkingDirectory=

[Install]
WantedBy=multi-user.target
